:root
{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
}

.small_caps {
    font-variant: small-caps;
}